:root {
	/* Primary Colors */
	--purple-600: hsl(246, 80%, 60%);
	--orange-300: hsl(15, 100%, 70%);  /* Work */
	--blue-300: hsl(195, 74%, 62%);    /* Play */
	--pink-400: hsl(348, 100%, 68%);   /* Study */
	--green-400: hsl(145, 58%, 55%);   /* Exercise */
	--purple-700: hsl(264, 64%, 52%);  /* Social */
	--yellow-300: hsl(43, 84%, 65%);   /* Self Care */
  
	/* Neutral Colors */
	--navy-950: hsl(226, 43%, 10%);    /* Main background */
	--navy-900: hsl(235, 46%, 20%);    /* Card background */
	--purple-500: hsl(235, 45%, 61%);  /* Inactive tabs */
	--navy-200: hsl(236, 100%, 87%);   /* Previous hours text */
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: white;
	background-color: var(--navy-950);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	max-width: 1110px;
	margin: 2rem auto;
	padding: 0 1.5rem;
}

.dashboard{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1rem;
}

